name: riverboot
description: "App bootstrap & splash task system for Flutter with Riverpod"
version: 0.0.1
repository: https://github.com/pckimlong/riverboot

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.6.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
